<form
  [formGroup]="useSearchBarProps.form()"
  class="root"
  (ngSubmit)="onSubmit()"
  [attr.data-testid]="'search_bar_form'"
>
  <app-search-bar-txt-fields-row
    [form]="useSearchBarProps.form()"
    [formVal]="formVal?.() ?? null"
    [txtInputsAvailable]="useSearchBarProps.txtInputsAvailable()"
  />

  <app-search-bar-btns-row [onErase]="onErase" [useBars]="useBars" />

  <app-search-bar-filter-bar
    [useBars]="useBars"
    [useFilters]="useFilters"
    [filtersAvailable]="useSearchBarProps.filtersAvailable()"
    [form]="useSearchBarProps.form()"
    [onErase]="onErase"
  />

  <app-search-bar-sort-bar
    [useBars]="useBars"
    [sortersAvailable]="useSearchBarProps.sortersAvailable()"
    [form]="useSearchBarProps.form()"
  />
</form>
