.root {
  transition: opacity 0.4s;
  @apply w-full grid gap-x-10 gap-y-8 justify-items-center;

  grid-template-columns: repeat(var(--cols), auto);
  grid-template-rows: repeat(var(--rows), auto);

  .root__field {
    @apply w-fit;
  }
}
