.tb {
  @apply border-3 border-red-600;
}

.app__scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.app__scroll::-webkit-scrollbar-track {
  background: transparent;
}

.app__scroll::-webkit-scrollbar-thumb {
  background: var(--gray__300);
  border-radius: 10px;
}

.app__scroll {
  scrollbar-width: auto;
  scrollbar-color: var(--gray__300) transparent;
}

.app__hide_scroll::-webkit-scrollbar {
  display: none;
}
.app__hide_scroll::-webkit-scrollbar-track {
  display: none;
}
.app__hide_scroll::-webkit-scrollbar-thumb {
  display: none;
}
.app__hide_scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
