$svg-sizes: (
  xxs: 20,
  xs: 25,
  sm: 30,
  md: 35,
  lg: 40,
  xl: 45,
  2xl: 50,
  3xl: 55,
  4xl: 60,
  5xl: 70,
);

@each $k, $v in $svg-sizes {
  .svg__#{$k} {
    min-width: #{$v}px;
    width: #{$v}px;
    min-height: #{$v}px;
    height: #{$v}px;
  }
}
