$txt_sizes: (
  hd__xl: 72,
  hd__lg: 30,
  hd__md: 20,
  hd__sm: 18,
  hd__xs: 16,
  bd__md: 14,
);

@each $k, $v in $txt_sizes {
  .txt__#{$k} {
    font-size: #{$v}px;
    letter-spacing: 0;
    line-height: if($k == hd__xl, 100%, 125%);
  }
}

.txt__xxs {
  @apply font-thin text-xs lg:text-sm;
}

.txt__xs {
  @apply font-normal text-xs sm:text-sm lg:text-base;
}

.txt__sm {
  @apply font-normal text-sm sm:text-base lg:text-lg;
}

.txt__md {
  @apply font-medium text-base sm:text-lg lg:text-xl;
}

.txt__lg {
  @apply font-bold text-lg sm:text-xl lg:text-2xl;
}

.txt__xl {
  @apply font-bold text-xl sm:text-2xl lg:text-3xl;
}

.txt__2xl {
  @apply font-bold text-2xl sm:text-3xl lg:text-4xl;
}

.txt__3xl {
  @apply font-extrabold text-3xl sm:text-4xl lg:text-5xl;
}
.txt__4xl {
  @apply font-extrabold text-4xl sm:text-5xl lg:text-6xl;
}
.txt__5xl {
  @apply font-extrabold text-5xl sm:text-6xl lg:text-7xl;
}

.txt__clr {
  @apply text-neutral-300;
}

.app__txt__grad {
  background: linear-gradient(to right, var(--white__0), var(--neutral__500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.app__txt__clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
}
