.z__sidebar__bg {
  z-index: 100;
}
.z__sidebar {
  z-index: 200;
}

.z__header {
  z-index: 300;
}

.z__tooltip_near_header {
  z-index: 400;
}

// ? search bar fixed elements & generics
.z__filter_bar__bg {
  z-index: 500;
}
.z__filter_bar {
  z-index: 600;
}
.z__generic_popup__bg {
  z-index: 700;
}
.z__generic_popup {
  z-index: 800;
}

.z__portal {
  z-index: 1000;
}

// ! most important
.z__wake_up__bg {
  z-index: 3000;
}
.z__wake_up {
  z-index: 4000;
}
.z__toast {
  z-index: 9999;
}
