.root {
  @apply w-full px-6 flex flex-col items-center gap-y-10;

  .root__svg {
    color: var(--clr);
    @apply w-[200px] h-[200px];

    @media (min-width: 800px) {
      @apply w-[250px] h-[250px];
    }
  }

  .root__msg {
    border-color: var(--clr);
    color: var(--clr);
    @apply text-center border-b-3 pb-1;
  }
}
