@use 'exports/shapes.scss';

.root {
  @extend .app__form__page;

  .root__swapper {
    @extend .app__form__container_size;

    .swapper__swap {
      @include shapes.app__swapper__swap(var(--opac), false);
    }
  }
}
