<app-black-bg [props]="blackBgProps()" />

<div
  #side
  [attr.data-testid]="'sidebar'"
  class="root z__sidebar"
  [ngClass]="isSideOpen() ? '-translate-x-full opacity-100' : 'translate-x-0 opacity-0'"
>
  @if(txtClampProps()) {
  <div class="root__span_mail">
    <app-txt-clamp [lines]="2" appUseTxtDir [props]="txtClampProps()" />
  </div>
  }

  <div class="root__body app__scroll">
    <div class="body__wrap_links">
      @for(lk of allUsersLinks(); track lk.id){
      <app-nav-link
        appUseSpanDir
        [spanProps]="lk"
        [currPath]="currPath()"
        [setIsDropOpen]="onSideClick"
        [path]="lk.path"
        [insteadHere]="lk?.insteadHere ?? null"
        appUseIDsDir
      />
      }

      <app-drop-static
        [spanProps]="spanUserProps()"
        [isOpen]="isDropOpen()"
        [setIsOpen]="setIsDropOpen"
        [closeOnMouseOut]="false"
        appUseIDsDir
        [testId]="'sidebar__drop_user'"
      >
        <ng-template #dropContent>
          <div class="body__wrap_links">
            @for(lk of linksUser(); track lk.id){
            <app-nav-link
              appUseSpanDir
              [spanProps]="lk"
              [path]="lk.path"
              [currPath]="currPath()"
              [setIsDropOpen]="onSideClick"
              appUseIDsDir
              [testId]="testIdFromPath(lk.path)"
            />
            }
          </div>
        </ng-template>
      </app-drop-static>

      @if(user()){
      <app-logout-btn [closeSomethingCb]="onSideClick" />
      }
    </div>
  </div>
</div>
