@use 'exports/mix.scss' as mix;
@use 'exports/shapes.scss' as shapes;

.root {
  @apply bg-neutral-950;
  @include shapes.app__btn__res(var(--pad));
  @include mix.app__btn__scl(1.15);
  border-color: var(--clr);

  &:enabled:hover {
    @include mix.app__shadow(var(--clr));
  }
}
