@use 'exports/mix' as mix;

:host {
  @apply block w-full;
}

.root {
  @apply w-full flex flex-col gap-4;

  .root__label {
    @apply w-full flex justify-start;
  }

  .root__input {
    @apply w-full flex relative;

    .input__field {
      @apply w-full;
      @include mix.app__input__sdw(var(--pad));
    }

    .input__svg {
      transition: all 0.3s ease;
      transform: translateY(-50%);
      @apply absolute top-1/2 right-2 text-gray-300 z-10 cursor-pointer;

      &:hover {
        transform: translateY(-50%) scale(1.4);
      }
      &:active {
        transform: translateY(-50%) scale(0.8);
        transition: transform 0.1s ease, color 0.3s ease;
      }
    }
  }
}
