<div class="root">
  <div class="root__btn_block_wrap">
    <app-btn-shadow
      appUseIDsDir
      appUseSpanDir
      [spanProps]="btnsBlockChange.prev"
      [listenersProps]="listenersPrev"
      [btnStateProps]="prevState()"
    />
  </div>
  <div class="root__pages">
    @for(p of pagesUi(); track p.id){

    <button type="button" class="pages__item" [ngClass]="twdPage(p)" (click)="changePage(p)">
      <span class="txt__xl">
        {{ p.label }}
      </span>
    </button>

    }
  </div>
  <div class="root__btn_block_wrap">
    <app-btn-shadow
      appUseIDsDir
      appUseSpanDir
      [spanProps]="btnsBlockChange.next"
      [listenersProps]="listenersNext"
      [btnStateProps]="nextState()"
    />
  </div>
</div>
