@use 'exports/mix.scss' as mix;
@use 'exports/pseudo.scss';

.root {
  @apply h-[80px] border-b-3 border-gray-300 grid grid-cols-[1fr_200px] items-center px-3 sticky top-0 bg-neutral-950;

  .root__left {
    @apply w-full flex justify-start;

    .left__link {
      @extend .app__clr;
    }
  }

  .root__right {
    @apply grid grid-cols-2 justify-items-end items-center;

    button {
      @include mix.app__el__scl(1.3);
    }

    .right__drop_content {
      @apply w-full min-w-[275px] flex flex-col items-start gap-5;
    }
  }
}
