# fly.toml app configuration file generated for asp-job-application-tracker-client on 2025-10-11T14:08:47+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'asp-job-application-tracker-client'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[statics]]
  guest_path = "/browser"
  url_prefix = "/"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

