@use 'exports/mix' as mix;
@use 'exports/shapes';

.root {
  @extend .app__form__block;

  .root__wrap {
    @apply w-full;
    @extend .app__form__flex;

    .wrap__content {
      @apply w-full;
    }
  }
}
