@use 'exports/mix' as mix;
@use 'exports/shapes';

.root {
  @extend .app__form__block;

  .root__wrap {
    @extend .app__form__flex;

    .wrap__content {
      @apply grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4 relative;
    }
  }
}
