.root {
  @apply w-full h-full flex justify-center items-center;

  .root__spin {
    border-color: var(--clr);
    @apply w-full h-full rounded-full border-[4px] border-t-transparent border-b-transparent;
  }
}
