.root {
  @apply w-fit relative flex flex-wrap items-center gap-x-10 gap-y-4 justify-start;

  .root_checkbox {
    @apply w-[35px] sm:w-[45px] h-[35px] sm:h-[45px] rounded-xl border-3 relative;

    .checkbox__mark {
      @apply absolute w-[120%] h-3/4 border-[6px] border-green-600 border-t-transparent border-r-transparent -top-1/3 left-[10%] -rotate-45 scale-0;
    }
  }
}
