@use 'exports/mix' as mix;

:host {
  @apply block w-full h-full;
}

.root {
  @include mix.app__btn__scl(1.3);
  @apply transition-all duration-300 absolute -top-5 -right-2 border-2 p-1 text-red-600 border-red-600 rounded-xl bg-neutral-950;

  &:hover {
    @include mix.app__shadow(var(--red__600));
  }
}
