<div class="root">
  @if(formVal()?.txtInputs?.length){
  <div class="root__fields">
    @for(f of formVal()?.txtInputs; track f?.id; let idx = $index){ @if(f){
    <div class="fields__item">
      <app-form-field-dynamic
        [ctrl]="getTxtCtrl(idx)"
        appUseDynamicFieldDir
        [idx]="idx"
        [hideLabel]="true"
        [focusOnMount]="idx === 0"
      />

      <app-btn-tooltip
        appUseIDsDir
        appUseSpanDir
        [spanProps]="spanProps(f)"
        [onClick]="removeItem.bind(this, idx)"
        [optionalDep]="optionalDep()"
      />
    </div>
    } }
  </div>
  }

  <app-search-bar-drop-add-field
    [form]="form()"
    [formVal]="formVal()"
    [txtInputsAvailable]="txtInputsAvailable()"
  />
</div>
