:host {
  @apply absolute;
}

.root {
  transition: transform 0.4s, opacity 0.2s;
  @apply fixed top-full left-0 w-full h-[60vh] border-t-3 border-blue-600 bg-neutral-950 flex flex-col;

  .root__body {
    max-height: calc(100% - var(--less));
    @apply w-full h-full grid grid-cols-[80px_3px_1fr];

    @media (min-width: 1000px) {
      @apply grid-cols-[200px_3px_1fr];
    }

    .body__scrollable {
      @apply w-full h-full overflow-y-scroll;
    }

    .body__vals {
      @apply px-3 py-3 pb-6;
    }

    .body__separator {
      @apply min-h-full h-full w-[3px] bg-blue-600;
    }
  }
}
