@use 'exports/shapes.scss' as shapes;

:host {
  @apply block w-full;
}

.root {
  @extend .app__form__content_no_pad;

  .root__swapper {
    transition: transform 0.4s, max-height 0.2s;
    @apply min-w-full grid;
    grid-template-columns: repeat(var(--cols), 100%);
    transform: translateX(var(--perc));
  }

  .root__footer {
    @apply w-full;
  }
}
