.root {
  @apply w-full flex flex-col;

  .root__label {
    @apply flex justify-start;
  }

  .root__content {
    @apply w-full h-full relative;

    .content__wrap {
      @apply w-full py-6 pb-10 overflow-hidden;

      .wrap__swapper {
        transition: transform 0.4s;
        transform: var(--trs);
        grid-template-columns: var(--grid_conf);
        @apply grid;
      }
    }
  }

  .root__btns {
    @apply w-full px-4 sm:px-6;
  }
}
