@use 'exports/mix.scss' as mix;

:host {
  @apply block w-full;
}

.root {
  @apply w-full relative;

  .root__input {
    @include mix.app__base(12px);
    @apply w-full h-[42px];

    &::placeholder {
      @apply text-gray__prm;
    }
  }

  .root__svg {
    @apply transition-all duration-300 absolute right-[14px] top-1/2 -translate-y-1/2 w-[16px] h-[16px] text-white/70;

    &:enabled:hover {
      @apply -translate-y-1/2 scale-[1.5];
    }

    &:enabled:active {
      @apply duration-100 scale-75;
    }
  }
}
