<app-popup [staticProps]="staticProps" [isPop]="useBars().isSortBar()" appUseIDsDir>
  <ng-template #popContent>
    <div class="root">
      <div class="root__label">
        <span class="txt__2xl text-center"> Sort </span>
      </div>

      <div class="root__body">
        @for(s of sorters(); track s.id){
        <div class="body__sorter">
          <app-span [spanProps]="spanPropsOf(s)" />

          <div class="sorter__content">
            @for(f of s.fields; track f.id){
            <app-form-field-box-lg [f]="f" [ctrl]="getCtrl(f)" appUseFormFieldDir appUseIDsDir />
            }
          </div>
        </div>
        }
      </div>
    </div>
  </ng-template>
</app-popup>
