:host {
  @apply absolute;
}

.root {
  @apply w-full h-full flex flex-col gap-8;

  .root__label {
    @apply w-full flex justify-center;
  }

  .root__body {
    @apply w-full flex flex-col gap-12 pb-16;

    .body__sorter {
      @apply w-full flex flex-col gap-6 items-center;

      .sorter__span {
        @apply w-full;
      }

      .sorter__content {
        @apply w-full flex flex-col gap-4 items-center md:flex-row md:justify-around;
      }
    }
  }
}
