@use 'exports/mix' as mix;
@use 'exports/shapes' as shapes;

.root {
  @include shapes.app__block_info(20px 25px);
  @apply items-center gap-[28px];

  .root__header {
    @apply w-full max-w-[80%] flex flex-col gap-[8px] items-center;

    .header__span {
      @apply flex justify-center;
      span {
        @apply text-center;
      }
    }
  }

  .root__body {
    @apply flex flex-col gap-[10px] items-center;

    .body__svg {
      @include mix.sqr(100px);
    }

    .body__span {
      @apply flex justify-center;
    }
  }

  .root__footer {
    @apply w-full grid grid-cols-2 gap-[16px];

    .footer__item {
      @apply w-full flex flex-col p-[16px] items-center justify-center gap-[1px] bg-white/10 rounded-[16px];

      .item__svg {
        @apply text-white/80;
        @include mix.sqr(24px);
      }

      .item__span_wrap {
        @apply flex justify-center;

        span {
          @apply text-center;
        }
        .span_wrap__label {
          @apply text-white/70;
        }
      }
    }
  }
}
