.root {
  @apply h-full flex flex-col justify-center items-center gap-10;

  .root__msg {
    @apply px-6 sm:px-8 flex flex-col justify-center items-center gap-2;

    span {
      @apply text-center cursor-none pointer-events-none select-none;
    }
  }
}
