@mixin with_w($w) {
  width: $w;
  min-width: $w;
  max-width: $w;
}

@mixin with_h($h) {
  height: $h;
  min-height: $h;
  max-height: $h;
}

@mixin sqr($v) {
  @include with_w($v);
  @include with_h($v);
}
