@mixin app__shadow($clr) {
  color: $clr;
  box-shadow: 0 0 5px $clr, 0 0 10px $clr, 0 0 15px $clr, 0 0 20px $clr, 0 0 25px $clr;
}

@mixin el__shw($clr) {
  border-color: $clr;

  &:hover {
    @include app__shadow($clr);
  }
}

@mixin app__btn__scl($scale_hover) {
  transition: all 0.3s ease;

  &:enabled:hover {
    transform: scale($scale_hover);
  }

  &:enabled:active {
    transform: scale(0.8);
    transition: transform 0.1s ease, color 0.3s ease;
  }
}

@mixin app__el__scl($scale_hover) {
  transition: all 0.3s ease;

  &:hover {
    transform: scale($scale_hover);
  }

  &:active {
    transform: scale(0.8);
    transition: transform 0.1s ease, color 0.3s ease;
  }
}

@mixin app__input__base($p, $bg) {
  padding: $p;
  background: $bg;

  @apply transition-all duration-300 outline-none border-2 border-gray-300 rounded-xl;

  &:focus {
    box-shadow: 0 0 2.5px var(--white__0), 0 0 5px var(--white__0), 0 0 10px var(--white__0),
      0 0 15px var(--white__0), 0 0 20px var(--white__0);
  }
}

@mixin app__input__sdw($p) {
  @include app__input__base($p, var(--neutral__950));
}

@mixin with_w($w) {
  min-width: $w;
  max-width: $w;
}

@mixin with_h($h) {
  min-height: $h;
  max-height: $h;
}

@mixin sqr($v) {
  @include with_w($v);
  @include with_h($v);
}
