<button
  [type]="btnType()"
  class="root"
  [style.--clr]="metaEvent().css"
  (click)="onClick()?.()"
  [attr.data-testid]="useIDsDir.testId()"
>
  <app-wrap-txt-api
    [spinSizeT]="'xs'"
    appUseWrapApiDir
    [eventT]="useSpanDir.spanProps().eventT"
    [isPending]="false"
  >
    <div class="svg__md">
      <ng-container *ngComponentOutlet="useSpanDir.spanProps().Svg" />
    </div>
  </app-wrap-txt-api>

  <span class="txt__lg root__label">
    {{ useSpanDir.spanProps().label }}
  </span>
</button>
