@use 'exports/mix' as mix;

.root {
  @include mix.app__btn__scl(1.2);

  border-color: var(--clr);
  @apply w-fit border-2 rounded-xl py-2 px-6 gap-5 flex items-center justify-center;

  @media (min-width: 1000px) {
    @apply px-8;
  }

  &:enabled:hover {
    @include mix.app__shadow(var(--clr));
  }

  .root__label {
    @apply hidden;

    @media (min-width: 1000px) {
      @apply block;
    }
  }
}
