@use 'exports/mix' as mix;

:host {
  @apply block w-full;
}

.root {
  @apply w-full flex flex-wrap justify-start items-center gap-y-4 gap-x-12;

  .root__btn {
    @apply relative;
    @include mix.app__btn__scl(1.3);
  }

  .root__pwd {
    @include mix.app__btn__scl(1.2);
    @include mix.el__shw(var(--gray__300));
    @apply border-2 border-gray-300 rounded-xl py-2 px-6;
  }
}

.tooltip {
  @apply z-50 -translate-x-3/4 -translate-y-[20px] w-[300px];
}
