.root {
  border-color: var(--clr);
  @apply w-full max-w-[600px] border-3 rounded-xl p-5 mx-auto;

  .root__content {
    @apply flex flex-col gap-6;

    .content__btns {
      @apply w-full grid gap-x-8 gap-y-4 justify-items-center place-content-center;
      grid-template-columns: repeat(auto-fit, 225px);

      .btns__item {
        @apply w-[225px] mx-auto;
      }
    }
  }
}
