@use 'exports/mix.scss' as mix;

:host {
  @apply block w-full;
}

.root {
  @apply mt-10 w-full flex flex-col justify-center items-center px-4;

  .root__response {
    @apply w-full flex flex-col items-center gap-x-12 gap-y-8;

    .response__qr_code {
      @include mix.sqr(200px);
      @apply overflow-hidden cursor-pointer rounded-xl;

      > img {
        @apply w-full h-full;
      }

      @media (min-width: 800px) {
        @include mix.sqr(250px);
      }
    }

    .response__btns {
      @apply w-full flex items-center justify-around gap-y-5 gap-x-10 flex-wrap;
    }

    .response__zip {
      @apply w-[200px] mx-auto;
    }
  }
}
