@use 'exports/mix' as mix;

:host {
  @apply block w-full;
}

.root {
  @apply w-full flex flex-col gap-4;

  .root__label {
    @apply w-full flex justify-start;
  }

  .root__input {
    @apply w-full flex relative;

    .input__field {
      @apply w-full;
      @include mix.app__input__sdw(7.5px 20px);
    }
  }
}
