.root {
  @apply w-full gap-8 justify-items-center grid sm:grid-cols-2;

  @media (min-width: 900px) {
    @apply grid-cols-3;
  }

  @media (min-width: 1200px) {
    @apply grid-cols-4;
  }

  @media (min-width: 1500px) {
    @apply grid-cols-5;
  }
}
