@use 'exports/mix' as mix;

.root {
  @include mix.app__btn__scl(1.3);
  @include mix.app__base(12px);
  @apply w-[41px] sm:w-[34px] h-[41px] flex justify-center items-center;

  .root__svg {
    @apply w-[16px] h-[16px] text-white;
  }
}
