.root {
  @apply w-full flex flex-col;

  .root__item {
    @apply transition-all w-full flex justify-center items-center gap-6 py-3;

    &:hover {
      @apply bg-blue-600 text-gray-300;
    }

    .item__label {
      @apply hidden;

      @media (min-width: 1000px) {
        @apply block;
      }
    }
  }
}
