@use 'exports/mix' as mix;

.root {
  @apply w-[250px] relative;

  .root__txt {
    @include mix.app__btn__scl(1.2);
    @include mix.el__shw(var(--gray__300));
    @apply w-full border-2 border-gray-300 rounded-xl py-2 px-4;
  }
}

.paste_notice {
  @apply flex justify-center w-[250px] z-50 -translate-x-1/2 -translate-y-[175%] bg-neutral-950 py-2 px-6 border-2 border-blue-600 text-blue-600 rounded-xl opacity-0 scale-0;
}
