@if(download()){
<a
  [attr.data-testid]="useIDsDir.testId()"
  [attr.download]="download()"
  [attr.href]="path()"
  class="root"
  [style.--clr]="metaEvent().css"
  [style.--pad]="paddingProps()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
} @else if(isExternal()){
<a
  [attr.data-testid]="useIDsDir.testId()"
  [attr.href]="path()"
  [attr.target]="'_blank'"
  [attr.rel]="'noopener noreferrer'"
  class="root"
  [style.--clr]="metaEvent().css"
  [style.--pad]="paddingProps()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}@else {
<a
  [attr.data-testid]="useIDsDir.testId()"
  [routerLink]="path()"
  class="root"
  [style.--clr]="metaEvent().css"
  [style.--pad]="paddingProps()"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}

<ng-template #content>
  <app-span
    [spanProps]="{
      label: useSpanDir.spanProps().label,
      Svg: useSpanDir.spanProps().Svg ?? null
    }"
  />
</ng-template>
