:host {
  @apply block w-full;
}

.root {
  @apply w-full flex flex-col;

  .root__btn {
    @apply w-full flex items-center justify-between border-2 rounded-xl px-1 py-1 cursor-pointer transition-all duration-300;

    &:hover {
      @apply text-blue-600 border-blue-600;
    }

    .btn__arrow {
      @apply transition-all duration-300;
    }
  }

  .root__content {
    @apply transition-all duration-300;
  }
}
