@mixin common($clr) {
  border-color: $clr;
  @apply border-2 bg-blue__prm;
}

.root {
  @include common(var(--clr));
  @apply max-w-full min-w-[200px] absolute top-[115%] z-50 py-2 px-4 transition-all duration-300 pointer-events-none flex justify-center rounded-[12px] translate-y-[100%] opacity-0;

  .root__msg {
    @apply text-center;
  }

  .root__arrow {
    @apply absolute bottom-full w-[40px] h-[40px] overflow-hidden;

    &:after {
      @include common(var(--clr));
      @apply content-[''] absolute left-0 w-full h-full rotate-45 -bottom-[65%];
    }
  }
}
