.root {
  border-color: var(--clr);
  @apply max-w-full min-w-fit absolute bottom-full border-2 z-50 bg-neutral-950 py-2 px-4 rounded-xl transition-all duration-300 pointer-events-none flex justify-center;

  .root__msg {
    @apply text-center text-nowrap;
    color: var(--clr);
  }

  .root__arrow {
    @apply absolute top-full w-[40px] h-[40px] overflow-hidden;

    &:after {
      border-color: var(--clr);
      @apply content-[''] absolute left-0 w-full h-full rotate-45 -top-1/2 border-2 -mt-2 bg-neutral-950;
    }
  }
}
