<div class="root">
  @let Svg = useSpanDir.spanProps().Svg;
  <!--  -->
  @if (Svg) {
  <app-wrap-txt-api
    [spinSizeT]="spinSize()"
    appUseWrapApiDir
    [isPending]="isPending()"
    [eventT]="eventT()"
  >
    <div [class]="svgCls()">
      <ng-container *ngComponentOutlet="Svg; inputs: {}" />
    </div>
  </app-wrap-txt-api>
  }
  <!--  -->
  @let label = useSpanDir.spanProps().label;
  <!--  -->
  @if(label){
  <span [class]="txtCls()" [attr.data-testid]="'span_label'">{{ label }}</span>
  }
</div>
